.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #f5f5f5 ;
}
.modal{
  display: none;
  top:0;
  left:0;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  overflow: auto;
}
.modal > .inner{
  margin: 3% 26.6%;
  font-size: 16px;
  background: #FFFFFF;
  border-radius: 15px;
}

.modal > .inner > .content{
  padding: 0px 5%;
}
.modal > .inner > .content > .title{
  font-weight: bold;
  position: relative;
  padding: 15px 0px;
  font-style: normal;
  line-height: 88.69%;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid #F5F5F5;
}
.modal > .inner > .content >.title > span{
  position: absolute;
  right: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* Neutral/Mid Grey */
  background-image: url("../../images/Vector.png");
  /* background: #62677A; */
}
.modal > .inner > .content > form{
  margin-top: 11.5px;
  font-style: normal;

  line-height: 150%;
  /* or 24px */
  letter-spacing: 0.35px;


  color: #343747;
}
.form_group{
  width: 100%;
  margin-top: 12px;
  height: 80x;
}
.form_group > input, select{
  padding: 8px 0px;
  font-size: 14px;
  line-height: 170%;

  border: 1px solid #BCBEC6;
  border-radius: 6px;
}
.form_group > input{
  padding-left: 20px;
  width: calc(100% - 20px);
}
.form_group > select{
  padding-left: 16px;
  width: 100%;
}
::placeholder{
  opacity: 0.4;
}
.form_group >div> span{
  color: red;
}
.form_group > image{
  display: none;

}
.button_group{
  padding-bottom: 26px;
  width: 100%;
  margin-left:20%;
}
.button_group > button{
  width: 134px;
  height: 39px;
  cursor:pointer;
}
.button_group > button:nth-child(1){
  border: 1px solid #00ADE8;
  border-radius: 40px;
  background-color: white;
  color: #00ADE8;
  margin-right: 20px;
 
}
.button_group > button:nth-child(2){
  border: 1px solid #00ADE8;
  border-radius: 40px;
  background-color: #00ADE8;
  color: white;
}
.form_group > .img_c{
  cursor:pointer;
  color: #6ECB63;
} 

/* message */
.model > .inner > .title{
  font-weight: bold;
  size: 24px;
  line-height: 36px;
  letter-spacing: 1px;
  color: #171B2F;
  text-align: center;
}
// menu
.menu{
  background-color: #00ADE8;
  height: 64px;
  width: 100%;
}
.menu > .left{
  width: 21%;
  height: 100%;
  float:left;
  cursor:pointer;
}
.menu > .left > img{
  // background-image: url("../public/images/logo.png");
  float:left;
  width: 34px;
  height: 34px;
  margin-left: 10%;
  margin-top:15px;
}
.menu > .left > .title{
  font-size: 48px;
  line-height: 54px;
  text-transform: uppercase;
  font-family: 'Petrona';
  float:left;
  color: white;
  margin-top:5px;
 
}
.menu > .right{
  padding-top: 20px;
  margin-left: 3.1%;
  float:left;
  width: 75.9%;
}
.menu > .right > a{
  color: #FFFFFF;
  opacity: 0.75;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 88.69%;
  margin-right: 5%;
  text-decoration: none;
}
.menu > .right > a:hover {
  opacity: 1;
  font-weight: bold;
}
/* spinner */
.Spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  border: 5px solid #eee;
  display: inline-block;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  &:after, &:before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  &:after {
    position: absolute;
    top: -5px;
    left: -5px;
    border: 5px solid transparent;
    border-top-color: #928a8a;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
//product
.container{
  position:relative;  
  margin-left:25.2%;
  margin-top: 3.9%;
  width: 68.1%;
  margin-right: 6.7%;
  
  .search{
    position: absolute;
    right:0px;
    width: 45.4%;
    input{
      width: 100%;
      padding: 12px;
      border: 1px solid rgba(188, 190, 198, 0.4);
      border-radius: 4px;
      padding-left: 58px;

    }
    ::placeholder{
      font-size: 14px;
      line-height: 170%;
      /* identical to box height, or 24px */

      letter-spacing: 0.35px;

      /* Neutral/Mid Grey */

      color: #62677A;

      opacity: 0.5;
    }
    svg{
      position: absolute;
      top:8.5px;
      left:22px;
    }

  }
  .content{
    background-color: #ffffff;
    margin-top:40px;
    border-radius: 20px;
    width: 100%;
    .inner{
      padding: 5.7% 46px 5.7% 50px;
      width: 100%;
      .products{
        padding-bottom: 36px;
        width: 100%;
        .product{
          border: 1px solid rgba(186, 186, 186, 0.3);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          float:left;
          width: 29.8%;
          :not(:last-child){
            margin-right: 5.5%;
          }
        }
      }
    }
  }
}

